/**
 * Programme Formation - Admin Styles
 */

/* Global */
.pfm-admin-wrap,
.pfm-edit-wrap {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Buttons avec dashicons */
.button .dashicons {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-right: 5px;
}

/* Tabs */
.nav-tab .dashicons {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
